/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #36454f; */
    color: white;
    background-color: #263138;
}
#header {
  font-family: 'Playfair Display', serif;
    font-size: 100px;
    width: 50%;
    text-align: center;
    padding: 20px;
    color: #AD102F;
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
.container {
  background-color:#080808;
  padding: 20px;
  margin : 0 auto; 
  width: auto;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

}
#card{
  justify-content: center;
  margin: auto;
}
a.btn {

  color: black;
  text-decoration: none;
  background-color: #C3B091;
  box-shadow: 0 5px  0#7E805D;
  padding: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  outline: black;
  margin: 10px;
  width:200px;
  text-align: center;
  border-radius: 1%;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;
}
a.btn:hover{
  background-color: burlywood;
  color: #080808;
}

input[type = "number"]{
  width: 50px;
  padding: 5px;
  border: 1px solid;
  margin: 12px;

}

#backButton {

  background-color: #263836;
  margin-top: 20px;
  
  border-style: solid;
  border-color: black;;
}

.backToLogIn{

  background-color: #263836;
  margin-top: 20px;
  
  border-style: solid;
  border-color: black;;
}
/* #login {

    width: 50%;
    text-align: left;
    padding: 20px;


} */
/* #admin{
    margin: 20px;
    padding: 20px;
    text-align: center;

} */

/* #workDayMenu{
    margin: 20px;
    padding: 20px;
    text-align: center;
} */



input[type="text"] input[type = "email"]
input[type = "password"]
input[type="tel"]{
    width: 100%;
    padding: 12px;
    border: 1px solid;
    margin: 5px;
    border-radius: 0;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
#wasteButton{
    background-color: #065823;
    border: 1px solid black;
    color: white;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    display: flex;
    padding: 10px;
    

}
#panicButton{
    background-color: #B50717;
    border: 1px solid black;
    color: white;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    display: flex;
    padding: 10px;
    

}

button[type = "submit"]{

  margin: 5px;;
}
  



/* PLUS MINUS BUTTON GROUP STYLING */
.input-group {
  border : 1px solid gray;
  padding: 10px 24px;

}
.input-group .quantity-field {
padding: 0;
height: 40px;
text-align: center;
font-size: 13px;
margin: 0;
}
.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;

}


