
/* font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif; */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
    color: white;
    
}
#header {
    font-family: 'Fredericka the Great';
    font-size: xx-large;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #AD102F;
}


button btn btn-primary{

    border-radius: 8px;
    width: 50%;
    text-align: center;
    margin: 20px;
    padding: 5px;


}

#login {

    width: 50%;
    text-align: left;
    padding: 20px;


}
#admin{
    margin: 20px;
    padding: 20px;
    text-align: center;

}
#workDayMenu{
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.container{
    border-radius: 5px;
    background-color:black;
    padding: 20px;
    margin:  auto;
    position: relative;
    
    
}
/* .col-md-4{
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-md-8{
    float: left;
    width: 25%;
    margin-top: 6px;
} */
input{
    width: auto;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
#wasteButton{
    background-color: #416000;
    border: 1px solid black;
    color: white;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 4px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    display: flex;
    

}
#panicButton{
    background-color: #AD102F;
    border: 1px solid black;
    color: white;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 4px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    display: flex;
    

}


  
/*
colors from pallet
The Red:#AD102F
background? lightes color #BFA5A4
darger purply color #897170
darker green #416000
lighter green #769307 */


/* //////////PLUS MINUS BUTTON GROUP STYLING?????????
input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
} */
